<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whatsapp-Api</title>

    <div style="text-align: center">
      <h2>Whatsapp-venom-api</h2>
      <p>Scanner qrcode</p>
      <img src="<%= qrCode %>" />
      <p><%= status %></p>
    </div>
  </head>
  <body></body>
</html>

<script>
  setInterval(() => {
    location.reload();
  }, 2000);
</script>
